body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#day img{
  width: 100px;
  height: 100px;
}

#day {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border: 0.5px solid grey;
}